/*CSS VARIABLES:
Custum Properties
Tribute to Lea Verou


properties with empty prefix*/

.variable-class { 
background: radial-gradient(
  transparent calc(100% - var(--corners)),
  var(--color) 0);


--color: blue;
--corners: 10px;


color: var(--color);

}





/*convert using calc:
number --> unit:calc(var(--foo) * 1px)
unit --> number  (can not)*/

/*set variables only to numbers*/

.bock {

  --size: 6;
  --side: calc(var(--size) * 1em);
  width: var(--side);
  height: var(--size);

}



/*in animations: */
@keyframes bg {

  from { background-color: var(--color1); }
  to { background-color: var(--color2); }

}


#animation.side {
  --color1: yellow;
  --color2: #0ca;
  animation: 1s bg infinite alternate;
}


/*in transitions */

#transition.slide {
  background: var(--bg);
  --bg: yellow;
  transition: 1s;
}


#transition.slide:active{
  --bg: #0ca;
}




button {

//Lea Verou's default default values

  --col: var(--color, black);
  border: .1em solid var(--col, black);
  background: transparent;
  color: var(--col, black);
  transition: 1s;
}

button:hover {
//background: var(--col);
  box-shadow: 0 0 0 1em var(--col, black) inset
  color: white;
}

/*make a second button*/
button.pink {
  --color: #f06;
}


/*<button>CLick Me<button/>
<button style="--color: blue">CLick Me<button/>
*/


responsive design  instead of having to put code inside media queries just set a variable 

:root {
  --gutter: 2px;
}


section {
  margin :var(--gutter);
}

@media (min-width: 1000px){
  :root{
--gutter: 10px;
}
}



/*HELPERS:*/


.box-shadow  {box-shadow: 0 20px 10px -10px rgba(150, 150, 150, 0.8);}                             /* http://laf.land/projects/shadows/box-shadow/text-shadow.html */
.drop-shadow {-webkit-filter: drop-shadow(0 0 50px white); filter: drop-shadow(0 0 50px white);}   /* http://laf.land/projects/shadows/drop-shadow.html */




/*detected classes:*/

body.Opera {}
	body.Opera {}
	body.Version {}
body.MSIE {}
body.IE {}
body.Chrome {}
body.Chrome {}
body.Safari {}
	body.Safari {}
	body.Version {}
body.Firefox {}

/*FONTS:

http://web.mit.edu/jmorzins/www/fonts.html

The fonts that are most safe to use are:

Arial / Helvetica
Times New Roman / Times
Courier New / Courier
Other options that usually work cross-platform are:

Palatino
Garamond
Bookman
Avant Garde
Fonts that work on Windows and MacOS but not Unix+X are:

Verdana
Georgia
Comic Sans MS
Trebuchet MS
Arial Black
Impact

end FONTS*/





/*api going to be 2 things  one css file and one js file


a set of opeartions performed on the dom such as appeneding the css or dynamic methods

1) css -> for readability 
2) js  -> cousure --> as in one file or delineated for readability 

*/











/*


Term One


*/








    * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      transition: all 1s;
      }

      body {
      vertical-align: baseline;
      border: 0;
      outline: 0;
      padding: 0;
      margin: 0;
      font-size: 9px;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      font-family: Arial, Helvetica, sans-serif;
      overflow: hidden
      }
  


      html {
      -ms-touch-action: none
      }

      :focus {
      outline: none
      }
      ::-moz-focus-inner {
      border: 0
      }



/*


Term Two below


*/



html {
    -ms-touch-action:none
}

::-moz-focus-inner {
    border:0
}

:focus {
    outline:none
}

a:focus      {outline:0;}
img:focus    {outline:0;}  
button:focus {outline:0;}    /*remove blue border     /* http://stackoverflow.com/questions/20340138  */



body {
    border:0;
    outline:0;
    padding:0;
    margin:0;
    overflow:hidden;   
    
    line-height:1;    
    font-size:16px;
    font-weight:400;    
    font-style:normal;
    font-variant:normal;
    text-transform:none;
  
    vertical-align:baseline; 
    font-family:Arial,sans-serif;
    -webkit-font-smoothing:antialiased;    
    -webkit-text-size-adjust:none;
    -moz-text-size-adjust:none;
    -ms-text-size-adjust:none;
    -o-text-size-adjust:none
     text-size-adjust:none; 

    -webkit-transform:translateZ(0);
    -moz-transform:translateZ(0);
    -ms-transform:translateZ(0);
    -o-transform:translateZ(0);
    transform:translateZ(0);

    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;

}

.no-select, .select-none, a, button, img {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */        /* https://css-tricks.com/almanac/properties/u/user-select/ */
}



.cick-select, input {  
  -webkit-user-select: all;   /* Chrome all / Safari all */
  -moz-user-select: all;      /* Firefox all */
  -ms-user-select: all;       /* IE 10+ */
  user-select: all;           /* Likely future */        /* ttps://css-tricks.com/almanac/properties/u/user-select/ */
}

.selectable, input, address {
  -webkit-user-select: initial;  
  -moz-user-select: initial;    
  -ms-user-select: initial;     
  user-select: initial;          
}





/*


Term Two END


*/

/*


Term Tree below


*/



    * {


  -o-transition: all 500ms ease
  -moz-transition: all 500ms ease
  -webkit-transition: all 500ms ease
  transition: all 500ms ease

/*DO NOT USE BELOW - MESSES UP IE and other ISSUES

  -webkit-transform-origin: 50% 0%
  transform-origin: 50% 0%
  
  -ms-transform-style: preserve-3d
  -webkit-transform-style: preserve-3d
  transform-style: preserve-3d*/


      }








/*


Term Tree END


*/

/*

SVG LINE ANIMATION SNIPPIT BELOW

*/

  path{
    fill:none;
    stroke:currentColor;
  }

.st0.v1
  {fill: none;
  stroke: currentColor;
  stroke-width: 14px;
  }



  .svg-line-animate
     {
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      -webkit-animation: dash 1.2s linear forwards;
      -o-animation: dash 1.2s linear forwards;
      -moz-animation: dash 1.2s linear forwards;
      animation: dash 1.2s linear forwards;

    
      -webkit-animation-delay: 0.5s;
      -o-animation-delay: 0.5s;
      -moz-animation-delay: 0.5s;
      animation-delay: 0.5s;


    }





/*basic svg line drawing:*/
    @-webkit-keyframes dash {
      from {
        stroke-dashoffset: 1000;
      }
      to {
        stroke-dashoffset: 0;
      }
    }
        @-moz-keyframes dash {
      from {
        stroke-dashoffset: 1000;
      }
      to {
        stroke-dashoffset: 0;
      }
    }
        @-o-keyframes dash {
      from {
        stroke-dashoffset: 1000;
      }
      to {
        stroke-dashoffset: 0;
      }
    }





/*

END SVG LINE ANIMATION SNIPPIT BELOW

*/












       * {
/*Last Call on all*/ 
/*absolute bug fixes */
      }